* {
    padding: 0;
    margin: 0;
}

p {
    display: inline-block;
    margin: 5px;
}

button {
    float: right;
    margin: 5px;
    padding: 1px;
}

#firstTable, #secondTable, #thirdTable, #fourthTable {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 5px;
}

#firstTable tr td, #secondTable tr td, #thirdTable tr td, #fourthTable tr td {
    border: 1px solid black;
}
